// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 1.6rem;
$line-height-base: 1.6;

// Colors
$blue: #f45c5c;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Own

$default-font-size: 1.6rem;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-primary: #f45c5c;
$color-primary-light:#f9a4a4;
$color-primary-dark: #ef1414;

$color-secondary:#fbe9b1;
$color-secondary-light: #f7d468;
$color-secondary-dark: #fdf7e2;

$color-tertiary: #f79b89;
$color-tertiary-light: #f25e41;
$color-tertiary-dark: #fcd8d1;
